@use "../../app.scss" as *;

.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;

  @include mobile {
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
  }
  @include tablet {
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
  }
  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      text-align: center;
      flex-direction: column;
    }
    @include tablet {
      text-align: center;
      flex-direction: column;
    }
    p {
      font-weight: 200;
      font-size: 20px;
      text-align: right;
      @include mobile {
        align-self: flex-end;
        font-size: 16px;
      }
      @include mobile {
        align-self: flex-end;
        font-size: 16px;
      }
    }
    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    .title {
      display: flex;
      gap: 40px;
      align-items: center;
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      @include tablet {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      img {
        width: 250px;
        height: 80px;
        border-radius: 50px;
        object-fit: cover;
        @include mobile {
          width: 150px;
          height: 40px;
        }
        @include tablet {
          width: 150px;
          height: 40px;
        }
      }
      h1 {
        font-size: 70px;
        font-weight: 100;
        @include mobile {
          font-size: 35px;
        }
        @include tablet {
          font-size: 35px;
        }
      }
      button {
        width: 250px;
        height: 80px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        @include mobile {
          width: 150px;
          height: 40px;
          font-size: 16px;
        }
        @include tablet {
          width: 150px;
          height: 40px;
          font-size: 16px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    margin-bottom: 40px;
    gap: 50px;
    @include mobile {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
    @include tablet {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
    .box {
      padding: 40px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 30px 0px 30px 0px;
      gap: 30px;
      h2 {
        @include mobile {
          font-size: 18px;
        }
        @include tablet {
          font-size: 18px;
        }
      }
      p {
        @include mobile {
          font-size: 10px;
        }
        @include tablet {
          font-size: 10px;
        }
      }
      @include mobile {
        text-align: center;
        gap: 10px;
        padding: 10px;
      }
      @include tablet {
        text-align: center;
        gap: 10px;
        padding: 10px;
      }
      button {
        background-color: orange;
        border-radius: 0px 20px 20px 0px;
        padding: 10px 40px;
        align-self: flex-start;
        font-weight: 600;
        cursor: pointer;
        border: none;
        @include mobile {
          align-self: center;
          border-radius: 20px;
          padding: 5px 20px;
          font-size: 10px;
        }
        @include tablet {
          align-self: center;
          border-radius: 20px;
          padding: 5px 20px;
          font-size: 10px;
        }
      }
    }
  }
}
