@use "../../app.scss" as *;

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  .wrapper {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1366px;
    height: 100%;
    @include mobile {
      margin-left: 40px;
      margin-right: 40px;
    }
    .textContainer {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        min-height: auto;
        flex: 1;
      }
      .mainText {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h2 {
          font-size: 50px;
          color: rebeccapurple;
          @include mobile {
            font-size: 20px;
          }
        }
        h1 {
          font-size: 64px;
          font-weight: 900;
          @include mobile {
            font-size: 30px;
          }
        }
        p {
          font-size: 25px;
          font-weight: 100;
          @include mobile {
            font-size: 16px;
          }
        }
      }
      p {
        font-size: 25px;
        max-width: 700px;
        @include mobile {
          font-size: 16px;
          max-width: 400px;
          margin-bottom: 10px;
        }
      }
      img {
        width: 50px;
      }
      .buttons {
        display: flex;
        gap: 30px;
        @include mobile {
          gap: 20px;
        }
        .resumebtn {
          border: 2px solid orange;
          background-color: transparent;
          color: orange;
        }
        button {
          padding: 15px 20px;
          // border: 1px solid white;
          font-size: 18px;
          font-weight: 600;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          background-color: orange;

          @include mobile {
            padding: 8px 15px;
            font-weight: 300;
            border: 1px solid white;
            font-size: 15px;
          }
        }
      }
    }
  }
  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -40px;
    white-space: nowrap;
    color: #ffffff09;
    width: 100%;
    font-weight: bold;
    z-index: -1000;
  }
  .imageContainer {
    margin-left: 150px;
    margin-right: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    @include mobile {
      height: 50%;
      top: unset;
      bottom: 0;
    }

    img {
      margin-top: 40px;
      width: 400px;
      height: 470px;
      @include mobile {
        margin-top: 0px;
        height: 115%;
        width: 170%;
        object-fit: cover;
      }
    }
  }
}
