.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  .wrapper {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1366px;
    height: 100%;
    // margin: auto;
    .textContainer {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      .mainText {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h2 {
          font-size: 50px;
          color: rebeccapurple;
        }
        h1 {
          font-size: 64px;
          font-weight: 900;
        }
        p {
          font-size: 25px;
          font-weight: 100;
        }
      }
      p {
        font-size: 25px;
        max-width: 700px;
      }
      img {
        width: 50px;
      }
      .buttons {
        display: flex;
        gap: 30px;
        button {
          padding: 15px 20px;
          border: 2px solid white;
          font-size: 18px;
          font-weight: 600;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -40px;
    white-space: nowrap;
    color: #ffffff09;
    width: 100%;
    font-weight: bold;
  }
  .imageContainer {
    margin-left: 150px;
    margin-right: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      margin-top: 40px;
      width: 400px;
      height: 470px;
    }
  }
}
