@use "../../app.scss" as *;

.about {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  @include mobile {
    margin-left: 40px;
    margin-right: 40px;
  }
  .aboutContent {
    // background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
    }
    h1 {
      color: orange;
      font-size: 56px;
      @include mobile {
        font-size: 30px;
        text-align: center;
      }
    }
    hr {
      width: 250px;
      border: none;
      padding-bottom: 30px;
      border-top: 10px solid white;
      @include mobile {
        border-top: 5px solid white;
        width: 400px;
        padding-bottom: 5px;
        margin: 10px auto;
      }
    }
    .aboutPara {
      max-width: 1000px;
      padding-bottom: 50px;
      text-align: justify;
    }
    .education {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mobile {
        gap: 20px;
      }
      .item {
        display: flex;
        width: 100%;
        border-bottom: 2px solid orange;

        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .icon {
          // background-color: #fff;
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mobile {
            display: none;
          }
          img {
            width: 50px;
            height: 50px;
          }
        }
        .course {
          // background-color: #b37373;
          width: 75%;
          padding: 10px;
          @include mobile {
            padding: 0px;
            width: 100%;
          }
          h4 {
            margin-bottom: 10px;
          }
        }
        .yearMark {
          // background-color: #fff;
          width: 15%;
          padding: 15px 0px 10px 0px;
          color: orange;
          @include mobile {
            padding: 0px 10px 0px 10px;
            display: flex;
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            gap: 10px;
            justify-content: flex-end;

            border-bottom: 2px solid orange;
          }
          h5 {
            margin-bottom: 10px;
            @include mobile {
              font-weight: 500;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .aboutImage {
    // background-color: #7a2121;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile {
      display: none;
    }
    img {
      width: 450px;
    }
  }
}
